services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/src/shared/prisma/generated
    env_file:
      - .env.docker
    depends_on:
      - db

  db:
    image: postgres:latest
    restart: unless-stopped
    env_file:
      - .env.docker
    volumes:
      - pgdata:/var/lib/postgresql/data
      
volumes:
  pgdata: